* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Newsreader", serif;
  line-height: 1.2;
  color: #333;
  background-color: #f4f4f4;
}

header {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header h1 {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  color: #333;
}

header .info {
  display: flex;
  gap: 1rem;
  font-size: 1rem;
}

header .info div {
  display: flex;
  gap: 0.5rem;
}

header .info i {
  align-self: center;
}

header .info a {
  text-decoration: none;
  color: #333;
}

.divider {
  margin: 0.5rem 0;
  padding: 0 1rem;
}
