* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Newsreader", serif;
  line-height: 1.2;
  color: #333;
  background-color: #f4f4f4;
}

header {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header h1 {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  color: #333;
}

header .info {
  display: flex;
  gap: 1rem;
  font-size: 1rem;
}

header .info div {
  display: flex;
  gap: 0.5rem;
}

header .info i {
  align-self: center;
}

header .info a {
  text-decoration: none;
  color: #333;
}

.resume-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  padding: 0 1.5rem;
}

.resume-section h2 {
  font-size: 1.75rem;
}

.resume-section h3 {
  font-size: 1.25rem;
}

.resume-section hr {
  margin-bottom: 0.5rem;
}

.summary {
  text-align: justify;
}

.education .universities,
.experience .experiences,
.projects .project-list,
.certifications .certificates {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.university div,
.work-exp div,
.certificate div {
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.university h3 {
  font-weight: 400;
}

.university h3 span {
  font-style: italic;
  margin: 0 0.25rem;
}

.degree,
.job-title {
  margin-top: 0.25rem;
  font-style: italic;
}

.coursework {
  margin-top: 0.25rem;
}

.job-title h3 {
  font-weight: 400;
}

.job-details .details,
.project-details {
  list-style-position: outside;
  padding-left: 1rem;
  margin-left: 0;
}

.job-details .details li,
.project-details li {
  padding-left: 0;
  text-align: justify;
}

li::marker {
  font-size: larger;
}

.project-heading {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.project-heading .stack {
  font-style: italic;
  font-size: 1.2rem;
}

.certificate div p {
  font-weight: 700;
}

.certificate .provider {
  font-style: italic;
}
